
.menu{
    padding: 1em 0 ;
    flex-direction: column;
   
}
.cab{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.material-icons{
    visibility:visible;
    color: white;
    font-size: 4em;
}
#menuB{
    display: none;
}
.menu-nav{  
    width: 100%;
    align-items: center;
}
.menu-list{
    align-items: center;
    margin-top: 1em;
    flex-direction: column;
    
}
.item-menu{
    width: 60%;
    text-align: center;
    border-bottom: 1px solid rgb(63, 255, 4);
}
.item-menu a {
    width: 100%;
    display: block;
    font-size: 1rem;
    color: aliceblue;
}
/* Home */
.container-home{
    width: 75%;
    margin-top: 6em;
    margin-bottom: 6em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.container-text{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}
.title{
    
    font-family: 'Montserrat';
    color: whitesmoke;
    font-size: 2rem;
}
.sml{
    font-family: 'Poppins';
    color: rgb(63, 255, 4);
    font-size: 1rem;
}
.paragraf{
    font-family: 'Roboto';
    width: 90%;
    text-align: justify;
    line-height: 1.6rem;
    color: whitesmoke;
    margin-top: 1em;
}
.imgBanner img{
    
    width: 100%;
}
/* Portifolio */
.container{
    margin: 2em auto;
    width: 70%;
    margin-top: 2em;
}
.container-portifolio{
    background-color: rgb(227, 227, 227);
    width: 100%; 
    flex-direction: column;
    
}
.container-cards{
    flex-direction: column;
    justify-content: center;
}
.card{
    width: 90%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
    border: 1px solid rgb(63, 255, 4);
    background-color: rgb(29, 29, 29);
    padding: 1em 0.5em;
    transition: 2s;
    border-radius: .5em;
}
.title-card{
    
    color: rgb(223, 221, 221);
    font-family: 'Montserrat', sans-serif;
}
/* Sobre */
.conteudo-sobre{ 
    flex-direction: column;
    align-items: center;
}
.card-Perfil{
    width: 100%;
    margin-top: 3em;
    flex-direction: column; 
    align-items: center;
    
}
.img{
    display: contents;
}
.imgI{
    width: 28vw;
    height: 30vw;
    border-radius: 50%;
    border: 1px solid greenyellow;
}
.card-Perfil h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
.sobre p {
    width: 100%;
    color: white;
    font-family: 'Roboto';
    text-align: justify;
    line-height: 1.2rem;
    color: whitesmoke;
    margin: 1em 0;
}
.tecnologias{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-redes{
    text-align: center;
    margin-top: 0.5em;
    font-family: 'Poppins';
    color: rgb(63, 255, 4);
    font-size: 1rem;  
}
.title-link{
    padding: .5em 3em;
}
/* Roda-pe */
.container-footer{
    flex-direction: column-reverse;
    align-items: center;
    gap: 2em;
    margin-bottom: -2em;
}
.itenRpdape > a{
    border-bottom: 1px solid green;
}
